{% extends 'base.html.twig' %}

{% block title %} Home Page {% endblock %}

{% block body %}
   
     <div class="main">
         <h1>{{ action }}</h1>
         <p>Ip address: {{ ip }} </p>
         
  </div>
{% endblock %}
