{% extends 'base.html.twig' %}

{% block title %} Home Page {% endblock %}

{% block body %}
   
     <div class="main"> 
    <h1> {{ action }}! ✅</h1>
    
 
   
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/HolmesPlace/src/Controller/HolmesPlaceController.php'|file_link(0) }}">src/Controller/HolmesPlaceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/HolmesPlace/templates/holmes_place/index.html.twig'|file_link(0) }}">templates/holmes_place/index.html.twig</a></code></li>
    </ul>
  </div>
{% endblock %}
