{% extends 'base.html.twig' %}

{% block title %}Hello HolmesPlaceController!{% endblock %}

{% block body %}
   {% block menu %}
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
        </div>
        {% endblock %}
     <div class="main">    
    <h1>Hello {{ controller_name }}! ✅</h1>
 
      
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/HolmesPlace/src/Controller/HolmesPlaceController.php'|file_link(0) }}">src/Controller/HolmesPlaceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/HolmesPlace/templates/holmes_place/index.html.twig'|file_link(0) }}">templates/holmes_place/index.html.twig</a></code></li>
    </ul>
  </div>
{% endblock %}
