{% extends 'base.html.twig' %}

{% block title %}Hello HolmesPlaceController!{% endblock %}

{% block body %}
   
     <div class="main">    
    <h1> {{ controller_name }}! ✅</h1>
    <h3> Todays Date: {{ current_date }} </h3>  
   Fuel Statistics:
    <ul>
        <li>Total Distance:</li>
        <li>Fuel Used:</li>
        <li>Economy:</li>
    </ul>
  Crypto-Currencies:
  <ul>
      <li>Bitcoin</li>
      <li>Etherium</li>
  </ul>
  </div>
{% endblock %}
