{% extends 'base.html.twig' %}

{% block title %} Fuel Entry {% endblock %}

{% block body %}
   
     <div class="main">    
    <h1>Action Required: {{ action }}! ✅</h1>
 
      
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/HolmesPlace/src/Controller/HolmesPlaceController.php'|file_link(0) }}">src/Controller/HolmesPlaceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/HolmesPlace/templates/holmes_place/index.html.twig'|file_link(0) }}">templates/holmes_place/index.html.twig</a></code></li>
    </ul>
  </div>
{% endblock %}
