/* 
    Created on : 06 Mar 2019, 07:53:38
    Author     : HolmesPlace
*/
body{
background-color: lightblue;
}
/* The navigation bar */
.navbar {
  position: fixed;       /* Set the navbar to fixed position */
  top: 0;                /* Position the navbar at the bottom of the page */
  width: 100%;           /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
/* Main content */
.main {
  margin-top: 50px;     /* Add a bottom margin to avoid content overlay */
  margin-left: 100px;   /* Create a right margin */
}

.floatedTable {
            float:left;
}

.inlineTable {
            display: inline-block;
}

table {
    border-collapse: collapse;
  }
td {
    border: 1px solid white; 
    padding: 2px;
    text-align: right;
  }
th{
    border: 1px solid white; 
    padding: 2px;
    text-align: center; 
  }
  
  .posGrowth{
      color: green;
      font-weight: bold;
      text-align:right;
  }
  .negGrowth{
      color: red;
       font-weight: bold;
       text-align:right;
  }
  
  /* Dropdown lists */
  
  /* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}