<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/asset/css/HPStyleSheet.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            <div class="navbar">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <a href="/">Home</a>
            <a href="/summary">Summary Page</a>
            <a href="/fuel">Fuel</a>
            <a href="/trip">Trip</a>
            <a href="/crypto">Crypto</a>
            <a href="/crypto/showticker">Ticker Table</a>
            <a href="/crypto/update">Update Cryptos</a>
            <a href="/readin">Read In CSV files</a>
            </div>
          {% endblock %}
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
