{% extends 'vehicle_base.html.twig' %}

{% block title %} Fuel Entry {% endblock %}

{% block body %}
   
     <div class="main">    
   <h3>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Email: {{ app.user.email }}</p>
{% endif %}</h3>
         
         <h1>Action Required: {{ action }}! ✅</h1>
 <form action="{{ path('vehicle_fuel') }}" method="post" >
     {{ form(form) }}
    
     
   
 </form>
  
  <hr>
  
  
  </div>
{% endblock %}
