{% extends 'vehicle_base.html.twig' %}

{% block title %}New Trip Entry!{% endblock %}

{% block body %}
   
     <div class="main">    
    
    <h3> Todays Date: {{ current_date }} </h3> 
    
        <h1>Action Required: {{ action }}! ✅</h1>
     <form action="{{ path('vehicle_trip') }}" method="post" >
      {{ form_widget(form) }}  
   
 </form>
  
    
    
   
  </div>
{% endblock %}
